.gr-button {
	font-family: var(--gr-font);
	font-size: 1rem;
	appearance: none;
	outline: none;
	border: none;
	background: none;
	cursor: pointer;
	border-radius: var(--gr-corner-radius);
	user-select: none;
	display: flex;
	align-items: center;
	justify-content: center;
}

.gr-button:active {
	transform: translateY(1px);
}

/* Sizes */
.gr-button--small:not(.gr-button--inline) {
	height: 38px;
	padding: 0 20px;
	font-size: 0.875rem;
}

.gr-button--medium:not(.gr-button--inline) {
	height: 48px;
	padding: 0 26px;
}

.gr-button--large:not(.gr-button--inline) {
	height: 58px;
	padding: 0 32px;
}

/* Types box + Priority */
.gr-button--box.gr-button--primary {
	background-color: var(--gr-primary-color);
	border: var(--gr-border-thickness) solid var(--gr-primary-color);
	color: white;
}

.gr-button--box.gr-button--secondary {
	background-color: var(--gr-secondary-color);
	border: var(--gr-border-thickness) solid var(--gr-secondary-color);
	color: white;
}

.gr-button--box.gr-button--tertiary {
	background-color: var(--gr-tertiary-color);
	border: var(--gr-border-thickness) solid var(--gr-tertiary-color);
	color: white;
}

/* Types outline + Priority */
.gr-button--outline.gr-button--primary {
	border: var(--gr-border-thickness) solid var(--gr-primary-color);
	color: var(--gr-primary-color)
}

.gr-button--outline.gr-button--secondary {
	border: var(--gr-border-thickness) solid var(--gr-secondary-color);
	color: var(--gr-secondary-color)
}

.gr-button--outline.gr-button--tertiary {
	border: var(--gr-border-thickness) solid var(--gr-tertiary-color);
	color: var(--gr-tertiary-color)
}

/* Types negative + Priority primary */
.gr-button--negative.gr-button--primary {
	background-color: white;
	border: var(--gr-border-thickness) solid white;
	color: var(--gr-primary-color)
}

.gr-button--negative.gr-button--secondary {
	background-color: white;
	border: var(--gr-border-thickness) solid white;
	color: var(--gr-secondary-color)
}

.gr-button--negative.gr-button--tertiary {
	background-color: white;
	border: var(--gr-border-thickness) solid white;
	color: var(--gr-tertiary-color)
}

/* Types inline + Priority primary */
.gr-button--inline.gr-button--primary {
	color: var(--gr-primary-color);
}

.gr-button--inline.gr-button--secondary {
	color: var(--gr-secondary-color);
}

.gr-button--inline.gr-button--tertiary {
	color: var(--gr-tertiary-color);
}

/* State disabled + State loading */
.gr-button--disabled, .gr-button--loading {
	pointer-events: none;
}

/* States disabled + Type */
.gr-button--disabled.gr-button--box,
.gr-button--disabled.gr-button--negative {
	background-color: var(--gr-disabled-color-background);
	border-color: var(--gr-disabled-color-background);
	color: var(--gr-disabled-color-text);
}

.gr-button--disabled.gr-button--outline {
	border-color: var(--gr-disabled-color-background);
	border-color: var(--gr-disabled-color-background);
	color: var(--gr-disabled-color-text);
}

.gr-button--disabled.gr-button--inline {
	color: var(--gr-disabled-color-text);
}