@import "@commons/styles/variables.css";

// Basic style
.gr-textfield {
    font-family: var(--font);
    width: 300px;
    display: flex;
    flex-direction: column;

    &__container {
        display: inline-flex;
        align-items: center;
        width: 100%;
        height: 100%;
        cursor: text;
        position: relative;
        border-radius: var(--corner-radius);
        transition: background-color var(--transition-hover);
    }

    &__label {
        color: var(--gray-text-color);
    }

    &__input {
        appearance: none;
        outline: none;
        border: none;
        background: transparent;
        font-family: inherit;
        font-size: inherit;
        width: 100%;
        z-index: 1;
        padding: 0;

        &::placeholder {
            color: var(--gray-placeholder-color);
        }
    }

    &__placeholder {
        position: absolute;
        font-size: inherit;
        font-family: inherit;
        color: var(--gray-placeholder-color);
    }

    &__loader {
        position: absolute;
        top: calc(50% - 7.5px);
        z-index: 1;
    }
}

// Borders
.gr-textfield__borders {
    display: flex;
    align-items: center;
    justify-content: space-between;
    width: 100%;
    height: 100%;
    position: absolute;
    top: 0;
    left: 0;
}

.gr-textfield__border {
    border-style: solid;
    height: 100%;
    transition: border-color var(--transition-hover);

    &--leading {
        border-top-left-radius: var(--corner-radius);
        border-bottom-left-radius: var(--corner-radius);
        border-width: var(--border-thickness) 0 var(--border-thickness) var(--border-thickness);
    }

    &--center {
        border-width: var(--border-thickness) 0 var(--border-thickness) 0;
        width: 100%;
    }

    &--trailing {
        border-top-right-radius: var(--corner-radius);
        border-bottom-right-radius: var(--corner-radius);
        border-width: var(--border-thickness) var(--border-thickness) var(--border-thickness) 0;
        width: 100%;
    }
}

// Sizes
.gr-textfield--small {
    .gr-textfield__container {
        height: 38px;
        padding: 0 12px;
        font-size: 0.875rem;
    }

    .gr-textfield__label {
        font-size: 0.7rem;
        margin-bottom: 3px;
    }

    .gr-textfield__border--leading {
        min-width: 12px;
    }

    .gr-textfield__loader {
        right: 12px;
    }
}

.gr-textfield--medium {
    .gr-textfield__container {
        height: 48px;
        padding: 0 15px;
    }

    .gr-textfield__label {
        font-size: 0.8rem;
        margin-bottom: 5px;
    }

    .gr-textfield__border--leading {
        min-width: 15px;
    }

    .gr-textfield__loader {
        right: 15px;
    }
}

.gr-textfield--large {
    .gr-textfield__container {
        height: 58px;
        padding: 0 18px;
        font-size: 1.1rem;
    }

    .gr-textfield__label {
        font-size: 0.9rem;
        margin-bottom: 7px;
    }

    .gr-textfield__border--leading {
        min-width: 18px;
    }

    .gr-textfield__loader {
        right: 18px;
    }
}

// Type outline
.gr-textfield--outline {
    &.gr-textfield--enabled {
        .gr-textfield__border {
            border-color: var(--gray-border-color);
        }

        &:hover .gr-textfield__border {
            border-color: var(--gray-border-color-hover);
        }
    }

    &.gr-textfield--disabled {
        pointer-events: none;

        .gr-textfield__border {
            border-color: var(--disabled-input-border-color);
        }
    }

    &.gr-textfield--focus {
        &.gr-textfield--primary .gr-textfield__border {
            border-color: var(--primary-color);
        }

        &.gr-textfield--secondary .gr-textfield__border {
            border-color: var(--secondary-color);
        }

        &.gr-textfield--tertiary .gr-textfield__border {
            border-color: var(--tertiary-color);
        }
    }
}

// Types outline filled
.gr-textfield--outline-filled {
    .gr-textfield__container {
        background-color: white;
    }

    &.gr-textfield--enabled {
        .gr-textfield__border {
            border-color: var(--gray-border-color);
        }

        &:hover .gr-textfield__border {
            border-color: var(--gray-border-color-hover);
        }
    }

    &.gr-textfield--disabled {
        pointer-events: none;

        .gr-textfield__container {
            background-color: var(--disabled-input-background-color);
        }

        .gr-textfield__border {
            border-color: var(--disabled-input-border-color);
        }
    }

    &.gr-textfield--focus {
        &.gr-textfield--primary .gr-textfield__border {
            border-color: var(--primary-color);
        }

        &.gr-textfield--secondary .gr-textfield__border {
            border-color: var(--secondary-color);
        }

        &.gr-textfield--tertiary .gr-textfield__border {
            border-color: var(--tertiary-color);
        }
    }
}

// Types filled
.gr-textfield--filled {
    .gr-textfield__border {
        border-color: transparent;
    }

    &.gr-textfield--enabled {
        .gr-textfield__container {
            background-color: white;
        }
    }

    &.gr-textfield--disabled {
        pointer-events: none;

        .gr-textfield__container {
            background-color: var(--disabled-input-background-color);
        }
    }

    &.gr-textfield--focus {
        .gr-textfield__container {
            background-color: white;
        }
    }
}

// Types underline
.gr-textfield--underline {
    .gr-textfield__border {
        border-radius: 0;
        border-left-width: 0;
        border-right-width: 0;
        border-top-width: 0;
    }

    &.gr-textfield--enabled {
        .gr-textfield__border {
            border-color: transparent;
            border-bottom-color: var(--gray-border-color);
        }

        &:hover .gr-textfield__border {
            border-color: var(--gray-border-color-hover);
        }
    }

    &.gr-textfield--disabled {
        pointer-events: none;

        .gr-textfield__border {
            border-color: var(--disabled-input-border-color);
        }
    }

    &.gr-textfield--focus {
        &.gr-textfield--primary .gr-textfield__border {
            border-color: var(--primary-color);
        }

        &.gr-textfield--secondary .gr-textfield__border {
            border-color: var(--secondary-color);
        }

        &.gr-textfield--tertiary .gr-textfield__border {
            border-color: var(--tertiary-color);
        }
    }
}

// Types underline filled
.gr-textfield--underline-filled {
    .gr-textfield__border {
        border-radius: 0;
        border-left-width: 0;
        border-right-width: 0;
        border-top-width: 0;
    }

    .gr-textfield__container {
        border-bottom-right-radius: 0;
        border-bottom-left-radius: 0;
    }

    &.gr-textfield--enabled {
        .gr-textfield__container {
            background-color: white;
        }
    }

    &.gr-textfield--enabled {
        .gr-textfield__border {
            border-color: var(--gray-border-color);
        }

        &:hover .gr-textfield__border {
            border-color: var(--gray-border-color-hover);
        }
    }

    &.gr-textfield--disabled {
        pointer-events: none;

        .gr-textfield__container {
            background-color: var(--disabled-input-background-color);
        }

        .gr-textfield__border {
            border-color: var(--disabled-input-border-color);
        }
    }

    &.gr-textfield--focus {
        .gr-textfield__container {
            background-color: white;
        }

        &.gr-textfield--primary .gr-textfield__border {
            border-color: var(--primary-color);
        }

        &.gr-textfield--secondary .gr-textfield__border {
            border-color: var(--secondary-color);
        }

        &.gr-textfield--tertiary .gr-textfield__border {
            border-color: var(--tertiary-color);
        }
    }
}