@import "@commons/styles/variables.css";

.gr-textfield {
    font-family: var(--font);
    display: inline-flex;
    align-items: center;
    cursor: text;
    width: 300px;
    /*box-shadow: var(--shadow);*/
    box-sizing: border-box;
    position: relative;
}

.gr-textfield__container {
    display: flex;
    align-items: center;
    justify-content: space-between;
    width: 100%;
    height: 100%;
    position: absolute;
    top: 0;
    left: 0;
}

.gr-textfield__container > * {
    border-style: solid;
    height: 100%;
    transition: border-color var(--transition-hover);
}

.gr-textfield__container-leading {
    border-top-left-radius: var(--corner-radius);
    border-bottom-left-radius: var(--corner-radius);
    border-width: var(--border-thickness) 0 var(--border-thickness) var(--border-thickness);
}

.gr-textfield__container-center {
    border-width: var(--border-thickness) 0 var(--border-thickness) 0;
    width: 100%;
}

.gr-textfield__container-trailing {
    border-top-right-radius: var(--corner-radius);
    border-bottom-right-radius: var(--corner-radius);
    border-width: var(--border-thickness) var(--border-thickness) var(--border-thickness) 0;
    width: 100%;
}

.gr-textfield__input {
    appearance: none;
    outline: none;
    border: none;
    background: transparent;
    font-family: inherit;
    font-size: inherit;
    width: 100%;
    z-index: 1;
    padding: 0;
}

/* Sizes */
.gr-textfield--small {
    height: 38px;
    padding: 0 12px;
    font-size: 0.875rem;
}

.gr-textfield--small .gr-textfield__container-leading {
    min-width: 12px;
}

.gr-textfield--medium {
    height: 48px;
    padding: 0 15px;
}

.gr-textfield--medium .gr-textfield__container-leading {
    min-width: 15px;
}

.gr-textfield--large {
    height: 58px;
    padding: 0 18px;
    font-size: 1.1rem;
}

.gr-textfield--large .gr-textfield__container-leading {
    min-width: 18px;
}

/* Types outline */
.gr-textfield--outline.gr-textfield--enabled .gr-textfield__container > * {
    border-color: var(--gray-border-color);
}

.gr-textfield--outline.gr-textfield--enabled:hover .gr-textfield__container > * {
    border-color: var(--gray-border-color-hover);
}

.gr-textfield--outline.gr-textfield--disabled {
    pointer-events: none;
    border-color: var(--disabled-color-background);
}

.gr-textfield--outline.gr-textfield--focus.gr-textfield--primary .gr-textfield__container > * {
    border-color: var(--primary-color);
}

.gr-textfield--outline.gr-textfield--focus.gr-textfield--secondary .gr-textfield__container > * {
    border-color: var(--secondary-color);
}

.gr-textfield--outline.gr-textfield--focus.gr-textfield--tertiary .gr-textfield__container > * {
    border-color: var(--tertiary-color);
}